body {
    height: 100%;
    /*width: 100%;*/
    background: red;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, Magenta, purple);
    /* Standard syntax (must be last) */
    /*background-size: cover;*/
}

* {
    box-sizing: border-box;
}

.navbar.navbar-inverse {
    background: none;
    color: none;
    border: none;
    font-family: sans-serif;
    align-content: space-between;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    /*padding-left: 50px;*/
    margin-top: 10px;
    float: right;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: black;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    /*padding-left: 50px;*/
    margin-top: 10px;
    float: right;
}

.logo {
    width: 20%;
    height: 50%;
    float: left;
    padding: 15px;
}

#product {
    background-image: url(image/bg.jpeg);
    max-width: 100%;
    /*height: 100%;*/
    background-size: cover;
    height: 500px;
    width: 900px;
    margin-left: 300px;
    margin-bottom: 50px;
    border-radius: 5px;
    border-color: green;
    border-style: solid;
    /*border:10px solid red;*/
}

#product #shows {
    height: 100px;
    width: 300px;
    margin-left: 300px;
    margin-top: 180px;
    margin-right: 200px;
    border-radius: 21px;
    border-color: white;
    border-style: solid;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#shows:hover {
    background-color: orange;
}

p:hover,
h1:hover,
h2:hover,
h3:hover {
    color: lightgreen;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    margin-left: 50px;
}

.text2 {
    color: blue;
    margin-left: 50px;
    font-size: 18px;
    margin-bottom: 70px;
}

.sm {
    float: right;
    color: white;
}

#ble {
    color: blue;
}

#lst {
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

.text {
    width: 1300px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.text1:hover {
    background-color: yellow;
}

#text1 {
    text-align: center;
    font-size: 18px;
    color: white;
}

#field1 {
    width: 1500px;
    margin-left: 10px;
}

#field4 {
    width: 1500px;
    margin-left: 10px;
}

#field1 #field2 {
    width: 400px;
    height: 40px;
    float: left;
    background: white;
    margin-left: 200px;
}

#field1 #field2:hover {
    background-color: lightblue;
}

#field1 #field3 {
    width: 400px;
    height: 40px;
    float: right;
    background: pink;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    color: white;
    margin-right: 250px;
}

#field1 #field3:hover {
    background-color: orangered;
}